[project]
	description = Kernel, networking, file-systems, drivers, BSPs, samples, and testsuite.
[access "refs/*"]
	owner = group user/Alexandru-Sever Horin (alex-sever-h)
[access "refs/for/refs/*"]
	read = group user/Alexandru-Sever Horin (alex-sever-h)
	push = group user/Alexandru-Sever Horin (alex-sever-h)
	label-Code-Review = -2..+2 group user/Alexandru-Sever Horin (alex-sever-h)
	label-Verified = -1..+1 group user/Alexandru-Sever Horin (alex-sever-h)
	rebase = group user/Alexandru-Sever Horin (alex-sever-h)
	removeReviewer = group user/Alexandru-Sever Horin (alex-sever-h)
	submit = group user/Alexandru-Sever Horin (alex-sever-h)
[access "refs/heads/*"]
	read = group user/Alexandru-Sever Horin (alex-sever-h)
	create = group user/Alexandru-Sever Horin (alex-sever-h)
	push = +force group user/Alexandru-Sever Horin (alex-sever-h)
	pushMerge = group user/Alexandru-Sever Horin (alex-sever-h)
[access "refs/tags/*"]
	push = +force group user/Alexandru-Sever Horin (alex-sever-h)
	pushTag = group user/Alexandru-Sever Horin (alex-sever-h)
	pushSignedTag = group user/Alexandru-Sever Horin (alex-sever-h)
